<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Name:</strong>
  <%= @spell.name %>
</p>

<p><%= link_to 'Edit Spell', edit_spell_path(@spell) %></p>
    


<p>
<%= link_to 'New Spell', new_spell_path %> |
<%= link_to 'Show Spells', spell_path %> |
<%= link_to 'Home', root_path %> 
</p>