<p id="notice"><%= flash[:notice] %></p>

<h1>Spell Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.order(:name).each do |books| %>
      <tr>
        <td><%= books.name %></td>
        <td><%= link_to 'View', book_path(books) %></td>
        <td><%= link_to 'Edit', edit_book_path(books) %></td>
        <td><%= link_to 'Delete', delete_book_path(books) %></td>     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
<%= link_to 'New Book', books_create_path %> |
<%= link_to 'Home', root_path %> 
</p>