<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>


   
<table>
  <thead>
    <tr>
      <th>Spells</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book.s_in_b.each do |spell| %>
      <tr>
        <td><%= spell %></td>
        
        </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Edit Book', edit_book_path(@book) %></p>
 

<p>
<%= link_to 'New Book', books_create_path %> |
<%= link_to 'Show Books', books_path %> |
<%= link_to 'Home', root_path %> 
</p>
