<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>

<p><%= link_to 'Edit Book', books_edit_path(@book) %></p>
    
</p>

<p>
<%= link_to 'New Book', books_create_path %> |
<%= link_to 'Show Authors', books_index_path %> |
<%= link_to 'Home', root_path %> 
</p>
